welcome.jadedoctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  title SSNoC - Welcome
  body
    include includes/navbar.jade
    div.container-fluid
      h3.text-center
          span.fa.fa-sign-in Welcome to Survivable Social Network on a Chip!!
      br
    div.container-fluid
      div.well
          div.panel.panel-default
            div.panel-heading.text-center.text-primary
                Strong Status and Explanation
           table.table.table-striped.table-bordered
            thead
             tr
              th Status
              th Explanation
              th Color Code
             tbody
             tr
              td(style= 'text-align : left;') OK
              td(style= 'text-align : left;') I am OK, I do not need help
              td(style= 'text-align : left;') Green
             tr
              td(style= 'text-align : left;') Help
              td(style= 'text-align : left;') I need help, but this is not a life threatening emergency
              td(style= 'text-align : left;') Yellow
             tr
              td(style= 'text-align : left;') Emergency
              td(style= 'text-align : left;') I need help now, as this is a life threatening emergency!
              td(style= 'text-align : left;') Red
          br
          br
          br
    div.row.text-center.col-sm-6.col-sm-offset-3
       h3 Simply click and change your Status
           br
           br
           a.btn.btn-primary(href='/people')
            Strong  Let's Start